* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  font-size: 20px;
}
.app {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__header h1,
.app__right h3,
h2 {
  font-family: monospace;
  font-size: 20px;
}
.app__left {
  flex: 0.9;
}
.app__right {
  height: 400px;
  overflow: auto;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.infoBox {
  flex: 20%;
  margin-right: 10px;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .app__header {
    margin: 4px 10px;
  }
  .app__header h1 {
    font-size: 18px;
  }
  .app__stats {
    flex-direction: column;
    margin: 20px auto;
  }
  .infoBox {
    margin-bottom: 4px;
    margin-right: 0;
  }
}
